* {
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    background-color: black;
}

img {
    height: 500px;
    width: auto;
}

#jasper {
    height:auto;
    width: auto;
}

.recipelist {
    background-color: #ffbb00;
}